@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@import 'tailwindcss';

h3[class*='title'] {
  font-family: serif;
}

a {
  text-decoration: none;
}

.nav-bar {
  background-color: #fafafa;
  border-bottom: 1px solid #dfdfdf;
  font-size: 14px;
  z-index: 1000;
}

/* Sidebar */
.sidebar-nav__overlay {
  background-color: rgba(46, 46, 46, 0.6);
}

/* --- Trạng thái KHI MỞ --- */
.sidebar-nav--open {
  overflow: visible;
}

.sidebar-nav--open .sidebar-nav__overlay {
  opacity: 1;
}

/* Submenu trong sidebar */
.sidebar-nav__item--has-submenu {
  position: relative;
}

.sidebar-nav__item--has-submenu:hover > .sidebar-nav__group {
  background-color: #f4f4f4;
}

/* Khi di chuột vào item cha, hiển thị menu con */
.sidebar-nav__item--has-submenu:hover > .sidebar-nav__submenu {
  visibility: visible;
  opacity: 1;
}

.sidebar-nav__submenu-link:hover {
  background-color: #f4f4f4;
}

.sidebar-nav--open {
  visibility: visible;
}

/* SEARCH */
.search-overlay {
  visibility: hidden;
  position: fixed;
}

.search-overlay--visible {
  visibility: visible;
  opacity: 1;
}

.search-overlay__close-button {
  position: absolute;
}

/* *** EDITIONS */
.nav-bar__editions-menu.show {
  display: block;
}

.nav-bar__editions-menu {
  display: none;
  position: absolute;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

/* -- Main Dropdown Container -- */
.nav-bar__dropdown {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.nav-bar__item:hover .nav-bar__dropdown {
  visibility: visible;
  opacity: 1;
}

.nav-bar__dropdown-heading {
  font-family: 'EB Garamond';
}

/* Home-main */
.home-main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/* Header */
.header__center img {
  width: 402px;
}

/* --- CÁC STYLE CHUNG --- */
.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  width: 70%;
}

/* *** ASIDE */
aside.page__sidebar {
  width: 27.25%;
}

/* --- Bố cục chính của Carousel --- */
.slide-content__title {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Số dòng tối đa */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carousel__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* Modifier cho dấu chấm đang hoạt động */
.carousel__dot--active {
  background-color: #333;
}

/* --- WELLNESS --- */
.featured-card__title {
  font-weight: 300 !important;
}

/* --- OPINION --- */
.author-post__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* --- LIFESTYLE --- */
.lifestyle-card__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* --- MOST READ --- */
.most-read .article-carousel .article-card {
  flex: 0 0 calc(50% - 0.5rem);
}

/* *** BLOCK GROUP */
.block-group {
  width: 1200px;
  margin: 0 auto;
}

.article-card {
  width: calc((100% - 3 * 1.25rem) / 4);
}

/* PODCAST */
.podcasts-section__title-link {
  font-family: sans-serif;
}

.podcast-card {
  width: calc(28%);
  min-width: 300px;
}

.podcast-card__title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* --- CATEGORY cuối trang --- */
.category-grid {
  margin: 4rem auto;
}

.category-grid .post-list__item {
  height: 5rem;
}

/* CSS CHO LƯỚI 4 CỘT */
.font-light {
  font-weight: 300 !important;
  font-family: EB Garamond, Times, serif;
}

.category-grid-4 {
  margin: 4rem auto;
}

.category-grid-4 .featured-post__link,
.category-grid-4 .post-list__link {
  min-height: 5rem;
}
