@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@import 'tailwindcss';

h3[class*='title'] {
  font-family: serif;
}

a {
  text-decoration: none;
}

.nav-bar {
  background-color: #fafafa;
  border-bottom: 1px solid #dfdfdf;
  font-size: 14px;
  z-index: 1000;
}

/* Sidebar */
.sidebar-nav__overlay {
  background-color: rgba(46, 46, 46, 0.6);
}

/* --- Trạng thái KHI MỞ --- */
.sidebar-nav--open {
  overflow: visible;
}

.sidebar-nav--open .sidebar-nav__overlay {
  opacity: 1;
}

.sidebar-nav__search-input {
  width: 100%;
  height: 44px;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
}

.sidebar-nav__list {
  font-family: sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;

  flex-grow: 1;
}

.sidebar-nav__link {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 1.5rem;

  font-size: 0.875rem;
  font-weight: bold;
}

.sidebar-nav__group {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 1.5rem;

  font-weight: bold;
}

.sidebar-nav__group-title {
  font-family: sans-serif;
  font-size: 0.875rem;
}

.sidebar-nav__toggle {
  margin-left: auto;
}

.sidebar-nav__footer-item {
  height: 34px;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.sidebar-nav__footer-link {
  font-size: 0.875rem;
}

/* Submenu trong sidebar */
.sidebar-nav__item--has-submenu {
  position: relative;
}

.sidebar-nav__item--has-submenu:hover > .sidebar-nav__group {
  background-color: #f4f4f4;
}

.sidebar-nav__submenu {
  position: fixed;
  width: 220px;
  background-color: #fff;

  border: 1px solid #f0f0f0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  z-index: 110;
  visibility: hidden;
  opacity: 0;
}

/* Khi di chuột vào item cha, hiển thị menu con */
.sidebar-nav__item--has-submenu:hover > .sidebar-nav__submenu {
  visibility: visible;
  opacity: 1;
}

.sidebar-nav__submenu-link {
  display: block;
  padding: 0.5rem 1.5rem;

  font-size: 0.875rem;
  font-weight: 600;
  white-space: nowrap;
}

.sidebar-nav__submenu-link:hover {
  background-color: #f4f4f4;
}

.sidebar-nav--open {
  visibility: visible;
}

/* SEARCH */
.search-overlay {
  visibility: hidden;
  position: fixed;
}

.search-overlay--visible {
  visibility: visible;
  opacity: 1;
}

.search-overlay__close-button {
  position: absolute;
}

/* *** EDITIONS */
.nav-bar__editions-menu.show {
  display: block;
}

.nav-bar__editions-menu {
  display: none;
  position: absolute;
  min-width: 100px;
  width: 145px;
  padding: 12px 0 28px 0;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-bar__editions-menu a {
  display: block;
  padding: 4px 16px;
}

/* *** NAV-BAR__CENTER */
.nav-bar__item--full-width {
  padding-right: 1rem;
  font-weight: 600;
}

/* -- Main Dropdown Container -- */
.nav-bar__dropdown {
  display: block;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  padding: 35px 20px;
  top: 100%;
  left: 0;
  right: 0;
}

.nav-bar__item:hover .nav-bar__dropdown {
  visibility: visible;
  opacity: 1;
}

.nav-bar__dropdown-heading {
  font-family: 'EB Garamond';
}

/* *** NAV-BAR__RIGHT  */
.login-template-btn {
  margin: 0 2px;
  padding: 0 5px;
  border-radius: 4px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  -webkit-appearance: none;
}

.light-btn {
  width: 80px;
  white-space: nowrap;
  background: white;
  border: 1px solid #979797;
  color: black;
}

#signup-btn {
  width: max-content;
}

.dark-btn {
  background: #0d73ea;
  border: 1px solid #0d73ea;
  color: white;
  width: 80px;
}

/* Home-main */
.home-main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/* Header */
.header__center img {
  width: 402px;
}

/* --- CÁC STYLE CHUNG --- */
.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content {
  width: 70%;
}

.content__divider {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  border: 0;
  border-top: 1px solid #e0e0e0;
}

.content__divider_bold {
  margin-top: 1.25rem;
  margin-bottom: 1.75rem;
  border: 0;
  border-top: 1px solid black;
}

.article-tag {
  display: inline-flex;
  background-color: #1f2937;
  color: white;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 0.25rem;
  border-radius: 2px;
  line-height: 1.8;
  letter-spacing: 0.2px;
  align-self: flex-start;
}

/* *** ASIDE */
aside.page__sidebar {
  width: 27.25%;
}

/* --- Bố cục chính của Carousel --- */
.slide-content__title {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Số dòng tối đa */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.carousel__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* Modifier cho dấu chấm đang hoạt động */
.carousel__dot--active {
  background-color: #333;
}

/* --- WELLNESS --- */
.page__sidebar .wellness-section__header {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding-top: 10px;
}

.featured-card__title {
  font-weight: 300 !important;
}

/* --- OPINION --- */
.author-post__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* --- LIFESTYLE --- */
.lifestyle-card__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* --- MOST READ --- */
.most-read .article-carousel .article-card {
  flex: 0 0 calc(50% - 0.5rem);
}

/* *** BLOCK GROUP */
.block-group {
  width: 1200px;
  margin: 0 auto;
}

.article-card {
  width: calc((100% - 3 * 1.25rem) / 4);
}

/* PODCAST */
.podcasts-section__title-link {
  font-family: sans-serif;
}

.podcast-card {
  width: calc(28%);
  min-width: 300px;
}

.podcast-card__title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* --- CATEGORY cuối trang --- */
.category-grid {
  margin: 4rem auto;
}

.category-grid .post-list__item {
  height: 5rem;
}

/* CSS CHO LƯỚI 4 CỘT */
.font-light {
  font-weight: 300 !important;
  font-family: EB Garamond, Times, serif;
}

.category-grid-4 {
  margin: 4rem auto;
}

.category-grid-4 .featured-post__link,
.category-grid-4 .post-list__link {
  min-height: 5rem;
}
